apiVersion: apps/v1
kind: Deployment
metadata:
  name: java-hello-world
  labels:
    app: java-hello-world
spec:
  replicas: 1
  selector:
    matchLabels:
      app: java-hello-world
  template:
    metadata:
      labels:
        app: java-hello-world
    spec:
      containers:
      - name: java-hello-world
        image: phil21/java-hello-world:latest
        ports:
        - containerPort: 8080